/* Applying light font color to webpage */
body {
    color: #f7f7f7;
}

/* Assigning the background */
.jumbotron {
    background-image: url("../images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
}